@font-face {
    font-family: 'roboto';
    src: url('/static/fonts/Roboto-Regular.ttf');
}

body{
    font-family: roboto;
    font-weight: bold;

    background-image: url('/static/img/back.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    padding: 0;
    margin: 0;

    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}