.loaderback{
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 9999;

    backdrop-filter: blur(5px);

    display: flex;
    justify-content: center;
    align-items: center;
}

.loaderfront{
    width: 200px;
    height:200px;
    border: 1px solid red;

    background-image: url('/static/img/loader_bell.png');
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
}

.qmark{
    width: 20px;
    height: 20px;

    background-image: url('/static/img/loader_qmark.png');
    background-repeat: no-repeat;
    background-size: contain;
    animation: loadanim 1.5s infinite linear;
}

@keyframes loadanim{
            0%{
                width: 20px;
                height: 20px;
            }
            50%{
                width: 100px;
                height: 100px;
            }ght: 25%;
            }
            100%{
                width: 100%;
                height: 100%;
            }

        }