{% extends 'base.html' %}

{% block header %}
<link rel="stylesheet" href="/static/css/admin.css">
<link rel="stylesheet" href="/static/css/evo-calendar.css">
<script src="/static/js/admin.js" defer></script>
<script src="/static/js/evo-calendar.min.js"></script>
{% endblock %}

{% block body %}

<div class="main">

    <div id="header" class="header-container">
        <button onclick="location.href='/logout'">Kilépés</button>
    </div>

    <div class="carousel carousel-slider center main-container" style="height: 100%;">

        <div class="carousel-item red lighten-2" style="overflow:auto; border-radius: 2px;">
            {% include '/admin_chunks/su_settings.html' %}
        </div>

        <div class="carousel-item" style="overflow:auto; display: flex; align-content: center; justify-content: center; width: 100%;">
            {% include '/admin_chunks/su_events.html' %}
        </div>

        <div class="carousel-item amber lighten-2" style="overflow:auto; border-radius: 2px;">
            {% include '/admin_chunks/su_clients.html' %}
        </div>

        <div class="carousel-item green white-text" style="overflow:auto; border-radius: 2px;">
            {% include '/admin_chunks/su_admins.html' %}
        </div>

    </div>

</div>


{% endblock %}