<div id="loginback" class="modalback">

    <div class="loginmodal">
        <div id="closeicon" class="closeicon" onclick="close_modal()"></div>

        <h2>
            BELÉPÉS
        </h2>

        <div class="input-field" style="width: 70%; margin: auto; margin-top: 10px;">
          <i class="material-icons prefix">account_circle</i>
          <input id="username" type="text" class="validate">
          <label for="username">Felhasználónév</label>
        </div>

        <div class="input-field" style="width: 70%; margin: auto; margin-top: 10px;">
          <i class="material-icons prefix">password</i>
          <input id="password" type="password" class="validate">
          <label for="password">Jelszó</label>
        </div>

    </div>

</div>