<div id="loginback" class="modalback">

    <div class="loginmodal">
        <div id="closeicon" class="closeicon" onclick="close_modal()"></div>

        <h3>
            BELÉPÉS
        </h3>

        <p class="errormessage" style="color: red;">
            Hibaüzenet
        </p>

        <div class="input-field" style="width: 70%; margin: auto; margin-top: 10px;">
          <i class="material-icons prefix">account_circle</i>
          <input id="login-username" type="text" class="validate">
          <label for="login-username">Felhasználónév</label>
        </div>

        <div class="input-field" style="width: 70%; margin: auto; margin-top: 10px;">
          <i class="material-icons prefix">password</i>
          <input id="login-password" type="password" class="validate">
          <label for="login-password">Jelszó</label>
        </div>

        <label>
            <input type="checkbox" id="remember_me" name="remember_me" class="filled-in"/>
            <span style="color: black; font-weight: normal;">Maradjak beléptetve</span>
        </label>

        <br><a class="waves-effect waves-light btn teal bu" onclick="loginattempt()">belépés</a>

        <p style="font-size: .8rem;">Még nem reisztráltál? <a onclick="show_reg()">Regisztráció</a></p>

    </div>

</div>