<div id="regback" class="modalback">

    <div class="loginmodal">
        <div id="closeicon" class="closeicon" onclick="close_modal()"></div>

        <h3>
            REGISZTRÁCIÓ
        </h3>

        <p class="errormessage" style="color: red;">
            Hibaüzenet
        </p>

        <div class="input-field" style="width: 70%; margin: auto; margin-top: 10px;">
          <i class="material-icons prefix">account_circle</i>
          <input id="reg_username" type="text" class="validate">
          <label for="reg_username">Felhasználónév</label>
        </div>

        <div class="input-field" style="width: 70%; margin: auto; margin-top: 10px;">
          <i class="material-icons prefix">password</i>
          <input id="reg_password1" type="password" class="validate">
          <label for="reg_password1">Jelszó</label>
        </div>

        <div class="input-field" style="width: 70%; margin: auto; margin-top: 10px;">
          <i class="material-icons prefix">password</i>
          <input id="reg_password2" type="password" class="validate">
          <label for="reg_password2">Jelszó mégegyszer</label>
        </div>

        <br><a class="waves-effect waves-light btn teal bu" onclick="">regisztráció</a>

    </div>

</div>